body
	{background-image: url ("background.jpg");
		background-size: cover;}
h1
	{outline-style:double; outline-color: pink;}
p
	{font-family: sans-serif;
		line-height: 1,8cm}
h2
	{font-family: serif;
		color: pink;
		font-size: 28px }
h3
	{font-family: serif;
		color: pink;
		font-size: 28px }
img 
	{border-radius: 60px}

li{color: blue;
	text-align: center;}
